### Import Packages

In [1]:
from selenium import webdriver
import pandas as pd

### Open Link

In [2]:
driver = webdriver.Chrome('/Users/yuhao/Documents/Webdriver/chromedriver')

driver.get('https://pokemondb.net/pokedex/all')
driver.maximize_window()

<ipython-input-2-9d66edff2b81>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('/Users/yuhao/Documents/Webdriver/chromedriver')

In [3]:
# Policy Policy
button = driver.find_element_by_class_name('gdpr-accept')

try:
    button.click()
except:
    pass

<ipython-input-3-08df90b8bbfc>:2: DeprecationWarning: find_element_by_class_name is deprecated. Please use find_element(by=By.CLASS_NAME, value=name) instead
  button = driver.find_element_by_class_name('gdpr-accept')

### Create Locators

In [4]:
#name
pokemon_name = driver.find_elements_by_xpath('//tbody/tr/td[2]')

#type
pokemon_type = driver.find_elements_by_xpath('//tbody/tr/td[3]')

#total
pokemon_total = driver.find_elements_by_xpath('//tbody/tr/td[4]')

#HP
pokemon_hp = driver.find_elements_by_xpath('//tbody/tr/td[5]')

#Attack
pokemon_attack = driver.find_elements_by_xpath('//tbody/tr/td[6]')

#Defense
pokemon_defense = driver.find_elements_by_xpath('//tbody/tr/td[7]')

#Sp.Atk
pokemon_sp_attack = driver.find_elements_by_xpath('//tbody/tr/td[8]')

#SP.Def
pokemon_sp_defense = driver.find_elements_by_xpath('//tbody/tr/td[9]')

#Speed
pokemon_speed = driver.find_elements_by_xpath('//tbody/tr/td[10]')

<ipython-input-4-56f37e4e7978>:2: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  pokemon_name = driver.find_elements_by_xpath('//tbody/tr/td[2]')
<ipython-input-4-56f37e4e7978>:5: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  pokemon_type = driver.find_elements_by_xpath('//tbody/tr/td[3]')
<ipython-input-4-56f37e4e7978>:8: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  pokemon_total = driver.find_elements_by_xpath('//tbody/tr/td[4]')
<ipython-input-4-56f37e4e7978>:11: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  pokemon_hp = driver.find_elements_by_xpath('//tbody/tr/td[5]')
<ipython-input-4-56f37e4e7978>:14: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  pokemon_attack = driver.find_elements_by_xpath('//tbody/tr/td[6]')
<ipython-input-4-56f37e4e7978>:17: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  pokemon_defense = driver.find_elements_by_xpath('//tbody/tr/td[7]')
<ipython-input-4-56f37e4e7978>:20: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  pokemon_sp_attack = driver.find_elements_by_xpath('//tbody/tr/td[8]')
<ipython-input-4-56f37e4e7978>:23: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  pokemon_sp_defense = driver.find_elements_by_xpath('//tbody/tr/td[9]')
<ipython-input-4-56f37e4e7978>:26: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  pokemon_speed = driver.find_elements_by_xpath('//tbody/tr/td[10]')

### Empty List

In [5]:
pokemon_results = []

### Dictionary

In [6]:
for i in range(len(pokemon_name)):
    pokemon_dictionary={'Name':pokemon_name[i].text,
                       'Type': pokemon_type[i].text,
                       'Total':pokemon_total[i].text,
                       'HP': pokemon_hp[i].text,
                       'Attack':pokemon_attack[i].text,
                       'Defense': pokemon_defense[i].text,
                       'Sp.Attack': pokemon_sp_attack[i].text,
                       'Sp.Defense': pokemon_sp_defense[i].text,
                       'Speed':pokemon_speed[i].text}
    
    pokemon_results.append(pokemon_dictionary)

### Create Dataframe

In [7]:
dataframe_pokemon = pd.DataFrame(pokemon_results)

In [8]:
dataframe_pokemon

,Name,Type,Total,HP,Attack,Defense,Sp.Attack,Sp.Defense,Speed
0,Bulbasaur,GRASS\nPOISON,318,45,49,49,65,65,45
1,Ivysaur,GRASS\nPOISON,405,60,62,63,80,80,60
2,Venusaur,GRASS\nPOISON,525,80,82,83,100,100,80
3,Venusaur\nMega Venusaur,GRASS\nPOISON,625,80,100,123,122,120,80
4,Charmander,FIRE,309,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...
1070,Basculegion\nFemale,WATER\nGHOST,530,120,92,65,100,75,78
1071,Sneasler,POISON\nFIGHTING,510,80,130,60,40,80,120
1072,Overqwil,DARK\nPOISON,510,85,115,95,65,65,85
1073,Enamorus\nIncarnate Forme,FAIRY\nFLYING,580,74,115,70,135,80,106
1074,Enamorus\nTherian Forme,FAIRY\nFLYING,580,74,115,110,135,100,46

### Replace Unnecessary Characters

In [9]:
#replace '\n' with '/'
dataframe_pokemon['Name'] = dataframe_pokemon['Name'].apply(lambda x: x.replace ('\n', '/'))

In [10]:
#replace '\n' with a comma
dataframe_pokemon['Type'] = dataframe_pokemon['Type'].apply(lambda x: x.replace ('\n', ','))

In [11]:
# updated dataframe
dataframe_pokemon

,Name,Type,Total,HP,Attack,Defense,Sp.Attack,Sp.Defense,Speed
0,Bulbasaur,"GRASS,POISON",318,45,49,49,65,65,45
1,Ivysaur,"GRASS,POISON",405,60,62,63,80,80,60
2,Venusaur,"GRASS,POISON",525,80,82,83,100,100,80
3,Venusaur/Mega Venusaur,"GRASS,POISON",625,80,100,123,122,120,80
4,Charmander,FIRE,309,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...
1070,Basculegion/Female,"WATER,GHOST",530,120,92,65,100,75,78
1071,Sneasler,"POISON,FIGHTING",510,80,130,60,40,80,120
1072,Overqwil,"DARK,POISON",510,85,115,95,65,65,85
1073,Enamorus/Incarnate Forme,"FAIRY,FLYING",580,74,115,70,135,80,106
1074,Enamorus/Therian Forme,"FAIRY,FLYING",580,74,115,110,135,100,46

### Dataframe to Excel

In [26]:
dataframe_pokemon.to_excel('pokemon_database_cleaned.xlsx', index=False)